*.FASL
*.fasl
*.lisp-temp
*.ofasl
*.64ofasl
*.ufasl
*.64ufasl
*.ffasl
*.64ffasl
*.ifasl
*.64ifasl
*.wfasl
*.64wfasl
*.sfasl
*.64sfasl
*.xfasl
*.64xfasl
*.xcfasl
*.rfasl
*.DS_Store
/.dir-locals.el
/target